<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decision Maker</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/form-styles.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />


  <%# EXTERNAL LINKS %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


  <%# FONTS USED %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/jquery-form-styles.js"></script>
</head>

<body>
  <nav class="nav-class">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="#name-id"  id="nav-create-link">Create</a></li>
      <li><a href="#">Results</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </nav>
//case: some choices ranked same[highest-medium-lowest]
  <main class="main-class-container">
    <h1>Poll topic: <%= pollTitle %></h>
      <h5>created by: <%= pollCreator %></h5>
      <p><%= numberOfVoters %> People have voted so far!</p>
    <div>
    <% for (let item of pollOptionScores) { %>
      <h2><%= item.option %></h2>
      <h3><%= item.totalScore %></h3>
    <% } %>
    </div>

  </main>

    <footer class="footer-class">

        <nav>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
          </ul>
          <div class="footer-socials">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook" ></i></a>
          </div>
        </nav>

    </footer>

</body>

</html>
